<h1>Welcome!</h1>
<hr>
<%= form_with scope: :customer, url: find_path, local: true do |form| %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', customers_path %>
<hr>
| <%= link_to 'Orders', controller: 'orders' %> | <%= link_to 'Customers', controller: 'customers' %> |
<hr>

