<h1>Welcome!</h1>
<hr>
<%= form_with(url: "/find", method: "post") do %>
  <p>
    <%= label_tag( :email, 'Search Customer by email') %>
    <%= search_field(:customer, :email) %>
    <%= submit_tag("Search") %>
  </p>
<% end %>

<hr>
| <%= link_to 'Orders', controller: 'orders' %> | <%= link_to 'Customers', controller: 'customers' %> |
<hr>

