<h2> Customer No: <%= @customer.id %></h2>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<h3>Customer Orders</h3>
<% @customer.orders.each do |order| %>
   <p>
    <%= order.street_address %> |
    <%= order.city %> |
    <%= order.postal_code %> |
    <%= order.ship_date %>
   </p>
<% end %>
<hr>

<h3>Add an Order:</h3>
<%= form_with(model: [ @customer, @customer.orders.build ], local: true) do |form| %>
  

  <p>
    <%= form.label :street_address %><br>
    <%= form.text_field :street_address %>
  <br>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  <br>
    <%= form.label :state %><br>
    <%= form.text_field :state %>
  
  <br>
    <%= form.label :postal_code %><br>
    <%= form.number_field :postal_code %>
  <br>
    <%= form.label :ship_date %><br>
    <%= form.date_field :ship_date %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>


 