<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price, Cents</th>
    <th>Quantity</th>
    <th>Item Total, Cents</th>
  </tr>
 
  <% items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= item.item_description %></td>
      <td><%= item.unit_price_in_cents %></td>
      <td><%= item.quantity %></td>
      <td><%= item.quantity * item.unit_price_in_cents %></td>
    </tr>
  <% end %>
</table>