
<h1>All Orders</h1>
 
<table>
  <tr>
    <th>Order Id</th>
    <th>Address</th>
    <th>Shiped on</th>
    <th></th>
    <th></th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td>
          <%= order.street_address %> |
          <%= order.city %> |
          <%= order.postal_code %>
      </td>
      <td><%= order.ship_date %></td>
      <td><%= link_to 'Show', [order] %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
    </tr>
  <% end %>
</table>
