 <% if current_user %>
    <h1>All Orders of <%= current_user.email %></h1>
<% else %>
    <h1>All Orders</h1>          
<% end %>
 
<table>
  <tr>
    <th>Order Id</th>
    <th>Shiped on</th>
    <th>Customer Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.ship_date %></td>
      <td>
          <%= order.customer.email %> 
      </td>
      <td><%= link_to 'Go to customer', customer_path(order.customer) %></td>
      
      <td><%= link_to 'Show', [order] %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
    </tr>
  <% end %>
</table>
<hr>
<h4> Total, $: <%= @totalOfOrders %></h4>


<%= link_to 'Back', '/' %>